<%= form_with(model: question, local: true) do |form| %>
  <%= render "shared/error", object: question %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control rounded" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control textarea-rounded" %>
  </div>

  <div class="form-group">
    <%= form.label :doc %>
    <%= form.file_field :doc %>
  </div>

  <% content_for :js do -%>
    <%= javascript_include_tag 'autocomplete_topics', 'data-turbolinks-track': 'reload' %>
  <% end -%>

  <div class="form-group">
    <%= form.label :topic %>
    <%= form.text_field :topic, value: question.topics.collect(&:name).join(', '), data: { url: topics_path }, class: "form-control rounded" %>
  </div>

  <div class="d-flex justify-content-between mb-4">
    <%= form.submit "Save as Draft", class: "btn btn-secondary rounded" %>
    <%= form.submit "Publish", class: "btn btn-primary rounded" %>
  </div>
<% end %>
