<% if logged_in? %>
  <strong>Hello, <%= current_user.name %></strong>
<% end %>

<% if @questions.blank? %>
  <h2>You don't have any questions yet.</h2>
  <%= link_to 'New Question', new_question_path %>
<% else %>
  <h2>Your questions</h2>
  <%= link_to 'New Question', new_question_path %>
  <div class="flex-container">  
    <% @questions.each do |question| %>
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">      
          <% if question.abused? %>
            <span class="badge badge-danger"><%= question.abuse_status.capitalize %></span>
          <% else %>
            <% if question.editable? %>
              <span class="badge badge-secondary"><%= question.status.capitalize %></span>
              <%= link_to 'Edit', edit_question_path(question) %>
              <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <span class="badge badge-success"><%= question.status.capitalize %></span>
            <% end %>
          <% end %>
        </div>  
        <div class="card-body">
          <h5 class="card-title"><%= link_to question.title.capitalize, question_path(question.id) %></h5>
          <p class="card-text"><%= question.markdown_content.truncate(100) %></p>
          <p><span class="badge badge-dark badge-large"><%= question.topics.pluck(:name).join(', ') %></span></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>
<center><%= will_paginate @questions, class: "flickr_pagination" %></center>
