<section class="depot_form">
  <% if flash[:alert] %>
    <aside class="notice"><%= flash[:alert] %></aside>
  <% end %>

  <%= form_tag do %>
    <h2>Please Log In</h2>
    <div class="field">
      <%= label_tag :name, 'Name:' %>
      <%= text_field_tag :name, params[:name] %>
    </div>

    <div class="field">
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div>

    <div class="actions">
      <%= link_to 'Forgot Password?', password_resets_new_path %>
      <%= check_box_tag :remember_me , params[:remember_me], class: 'form-check-input'%>
      <%= label_tag :remember_me, "Remember me"%>
      <%= submit_tag "Login", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>
