<%= form_with model: @user, url: send_token_users_url(@user.reset_token), method: :post, local: true do |form| %>

  <%= render "shared/error", object: @user, name: "user" %>
  <div class="field">
    Hello <%= @user.name %>,
  </div>

  <div class="field">
    <%=form.label :password %>
    <%=form.password_field :password %>
  </div>
  <div class="field">
    <%=form.label :confirmation %>
    <%=form.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%=form.submit "Update Password" %>
  </div>
<% end %>
