<div class="row">
  <div class="card col-sm-10 col-md-5">
    <div class="card-body">
      <h5 class="card-title"><%= @pack.name %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item h5">Credits: <%= @pack.value %></li>
      <li class="list-group-item h5">Price: <%= number_to_currency @pack.price, unit: 'Rs.' %></li>
    </ul>
  </div>

  <div class="col-sm-10 col-md-6 offset-md-1">
    <hr/>
    <%= form_with local: true, id: "payment-form", data: { stripe_key: Rails.configuration.stripe[:publishable_key]} do %>

      <label for="card-element">
        <h3>Pay via Card</h3><%= image_tag "cards.png" %>
      </label>
      <div id="card-element"></div>
      <div id="card-errors" role="alert"></div><%  %>
      <br/>
      <button class="btn btn-lg btn-success btn-block">Submit Payment</button>

    <% end %>
  </div>
</div>