<% if @user.verified? && @user.profile_image.attached? %>
<%= image_tag @user.profile_image, width: 150%>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @user.credits %>
</p>

<p>
  <strong>Topics:</strong>
  <%= @user.topics.pluck(:name) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
