<% if @user.verified? && @user.profile_image.attached? %>
<%= image_tag @user.profile_image, width: 150%>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @user.credits %>
</p>

<p>
  <strong>Topics:</strong>
  <%= @user.topics.pluck(:name).join(', ') %>
</p>

<p>
  <strong>Authentication Token:</strong>
  <%= @user.auth_token %>
  <br>
  <small>Do not share authentication token with anyone</small>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
