<% unless @answers.exists? %>
No answer yet.
<% else %>
<% @answers.each do |answer| %>
<div class="card bg-light mb-3" style="max-width: 150rem;">
  <div class="card-body">
    <%= answer.content %>
    -<%= answer.user.name %>
    <% if answer.comments %>
      <div class="answer-comment-list flex-container">
        <% @comments = answer.comments %>
        <%= render partial: "shared/comments" %>
      </div>
    <% end %>
    <%= form_with(model: answer, url: answer_comments_path(answer.id), remote: true, method: :post, class: "form-inline my-2 my-lg-0" ) do |form| %>
      <div class="form-group answer-comment-div">
        <%= form.text_field :comment, class: "form-control mr-sm-2 form-control-sm", placeholder: "Comment on answer", autocomplete: "off" %>
        <%= form.submit "Comment", class: "btn btn-secondary my-2 my-sm-0 btn-sm" %>
      </div>
    <% end %>

    <div class="vote-answer">
      <div class="vote-answer-buttons">
        <%= button_to "Like", answer_votes_path(answer.id), class: "btn btn-sm answer-#{answer.id}", data: {id: "answer-#{answer.id}" }, method: :post %>
        <small><p class="answer-<%= answer.id %>-count" data-type="like" ></p></small>
        <%= button_to 'Dislike', answer_votes_path(answer.id, false),class: "btn btn-sm answer-#{answer.id}", data: {id: "answer-#{answer.id}" }, method: :post %>
        <small><p class="answer-<%= answer.id %>-count" data-type="like" ></p></small>
        <a class="btn btn-sm" href="<%= report_abuse_path("answer", answer.id) %>" role="button" aria-expanded="false">
          Report
        </a>  
      </div>
    </div>
  </div>

</div>
<% end %>
<br>
<% end %>