<% @comments.each do |comment| %>
<div class="card bg-info mb-3" style="max-width: 25rem;">
  <div class="vote-comment">
    <%= comment.content %>
    - <%= comment.user.name %>
    <% if logged_in? %>
      <div class="vote-comment-buttons">
        <%= button_to 'like', comment_votes_path(comment.id), class: "btn btn-sm comment-#{comment.id}", data: {id: "comment-#{comment.id}" } ,method: :post %>
        <small><p class="comment-<%= comment.id %>-count" data-type="like" ></p></small>
        <%= button_to 'dislike', comment_votes_path(comment.id, false), class: "btn btn-sm comment-#{comment.id}", data: {id: "comment-#{comment.id}" }, method: :post %>
        <small><p class="comment-<%= comment.id %>-count" data-type="dislike"></p></small>
        <a class="btn btn-sm" href="<%= report_abuse_path("comment", comment.id) %>" role="button" aria-expanded="false">
          Report
        </a>  
      </div>
    <% end %>
  </div>
</div>
<% end %>
<br>
