<% @comments.each do |comment| %>
<div class="card bg-info mb-3" style="max-width: 25rem;">
  <div class="vote-comment">
    <%= comment.content %>
    - <%= comment.user.name %>
    <% if logged_in? %>
      <div class="vote-comment-buttons">
        <%= button_to 'like', comment_votes_path(comment.id), class: "btn btn-sm comment-#{comment.id}", data: {id: "comment-#{comment.id}" } ,method: :post %>
        <small><p class="comment-<%= comment.id %>-count" data-type="like" ></p></small>
        <%= button_to 'dislike', comment_votes_path(comment.id, false), class: "btn btn-sm comment-#{comment.id}", data: {id: "comment-#{comment.id}" }, method: :post %>
        <small><p class="comment-<%= comment.id %>-count" data-type="dislike"></p></small>
        <a class="btn btn-sm" href="" data-toggle="modal" role="button" data-target="#modalReportAbuse-<%= comment.id%>">
          Report
        </a>  
      </div>

      <div class="modal modalReportAbuse fade" id="modalReportAbuse-<%= comment.id%>" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Report Abusdadase</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_with(url: report_abuse_path("comment", comment.id), method: "get") do |f| %>
              <div class="modal-body">
                <div class="form-group">
                  <%= f.label :reason %>
                  <%= f.text_area :reason, class: "form-control"%>
                </div>
                <div class="report-abuse-result" role="alert"> </div>
              </div>
              <div class="modal-footer">
                <%= f.submit("Report Abuse", class: "btn btn-primary") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
<% end %>
<br>
