<h2>Question: <%= @question.id %></h2>
<% if @question.abused? %>
  <h3> ABUSED</h3>
<% end %>
<p>
  <strong>Author:</strong>
  <%= @question.user.name %>
</p><hr>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p><hr>

<p>
  <strong>Content:</strong>
  <%= @question.markdown_content %>
</p><hr>

<p>
  <strong>Status:</strong>
  <%= @question.status %>
</p><hr>

<% if @question.published_at %>
<p>
  <strong>Published:</strong>
  <%= @question.published_ago %> ago
</p><hr>
<% end %>

<p>
  <strong> Answers Count:</strong>
  <% if @question.answers_count > 0 %>
    <%= link_to @question.answers_count, admin_question_answers_path(@question.id) %>
  <% else %>
    <%= @question.answers_count %>
  <% end %>
</p><hr>

<p>
  <strong> Comments Count:</strong>
  <% if @question.comments_count > 0 %>
    <%= link_to @question.comments_count, admin_question_comments_path(@question.id) %>
  <% else %>
    <%= @question.comments_count %>
  <% end %>
</p><hr>

<p>
  <strong>Topics:</strong>
  <%= @question.topics.pluck(:name).join(', ') %>
</p><hr>


<%= link_to 'Back', admin_questions_path %>
<br>
