<h2>Users</h2>

<% if @user.verified? && @user.profile_image.attached? %>
  <%= image_tag @user.profile_image, width: 150%>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @user.credits %>
</p>

<p>
  <strong>Topics:</strong>
  <%= @user.topics.pluck(:name).join(', ') %>
</p>

<h2>User transaction</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Value</th>
      <th scope="col">Reason</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
  <% CreditTransaction.unscoped.where(user: @user).each do |tr| %>
    <tr>
      <th scope="row"><%= tr.id %></th>
      <td> <%= tr.value %></td>
      <td> <%= tr.reason %></td>
      <td> <%= tr.creditable_type %></td>
    </tr>
  <% end %>
  </tbody>
</table> 
<%= link_to 'Back', admin_path %>
<br>
