<strong>Hello, <%= current_user.name %>.</strong>
<strong>Your credit balance is: <%= current_user.credits %></strong>

<h2>Your transaction</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Value</th>
      <th scope="col">Reason</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each do |tr| %>
    <tr>
      <th scope="row"><%= tr.id %></th>
      <td> <%= tr.value %></td>
      <td> <%= tr.reason %></td>
      <td> <%= tr.creditable_type %></td>
    </tr>
  <% end %>
  </tbody>
</table> 
<br>
<center><%= will_paginate @transactions, class: "flickr_pagination" %></center>