<!DOCTYPE html>
<html>
  <head>
    <title>Prashna</title>
    <% #FIXME_AB: read about these two tags -%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.js' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js' %>


    <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.1/jquery-ui.js' %>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :js -%>
  </head>

  <body>
    <header class="main">
      <h1><%= @page_title %></h1>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Prashna</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Home', root_path, class: "nav-link" %><span class="sr-only">(current)</span>
            </li>
            <% unless logged_in? %>
              <li class="nav-item"><%= link_to 'Login', login_path, class: "nav-link" %></li>
            <% end %>
            <li class="nav-item">
              <%= link_to 'Users', users_path, class: "nav-link" %>
            </li>
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to 'Profile', user_path(session[:user_id]), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Questions', questions_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link" %>
              </li>
            <% end %>


          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <section class="content">
      <div class="container">
        <div class="col-sm">
          <main class='<%=controller.controller_name%>'>
            <%if notice %>
              <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= notice %>
              </div>
            <% end %>
            <%= yield %>
          </main>
        </div>
      </div>
    </section>
  </body>
</html>
